body {
  font-family: Arial, sans-serif;
}

#app {
  background: url("/images/cldscp.jpg");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center top;
  color: black;
  min-height: 100vh; /* Make the container at least the height of the viewport */
  position: relative; /* Make sure it's relative for absolute positioning */
}

.header {
  background-color: #333333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.footer {
  background-color: #333333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer img {
  width: 50px; /* Set your desired width */
  height: 50px; /* Set your desired height */
}

.profile-image {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.repo-demo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.repo-item {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 5px;
}

.icon-image, .links {
  text-align: center;
}

.icon-image img {
  width: 75px; /* Set your desired width */
  height: 75px; /* Set your desired height */
}

.skills-section,
.project-section {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}
.skill, 
.project{
  margin: 10px;
  text-align: center;
}

.project-section-title {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .skills-section {
      flex-direction: column;
  }
  .skill {
      flex-basis: 100%;
  }
}